.masthead {
  position: relative;
  width: 100vw;      // full viewport width
  border-bottom: 1px solid $border-color;
  z-index: 20;
  background-color: background-color;

  &__inner-wrap {
    width: 100%;
    max-width: 100%;
    margin: 0;
    padding: 1em 2em;
    padding-left: 17.45em;  // adjust to match sidebar
    //padding-right: 2em; // keep right padding if needed
    @include clearfix;
    font-family: $sans-serif-narrow;

    nav {
      width: 100%;   // full-width nav
    }

    a {
      text-decoration: none;
    }
  }
}
